<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <h1>这是注册页面<h1>
    <form action="/register" method="post">
    <label for="name">用户名</label><input id="name" type="text" name="name" value=""><br />
    <label for="password">密码</label><input id="password" type="text" name="password" value="">
    <input type="submit" value="submit" />
    </form>
</body>
</html>
