<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
    <% if(locals && locals.status){ %>
        <h2><%=status%></h2>
    <%}%>
</body>
</html>
